<div class="w-full max-w-sm mx-auto mt-8">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
             html: {class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <span class="text-2xl text-bold border-b-4 border-teal-500 mb-2">Create Account</span>
    <br>
    <br>
  <div>
    <%= f.label :email, class: "user-form user-label mt-2 pt-2" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
    class: "user-form-field mb-2 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div>
    <%= f.label :password, class: "user-form user-label pt-2" %>
    <% if @minimum_password_length %><em class="text-gray-700 text-sm font-bold">(<%= @minimum_password_length %> characters min)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "user-form-field py-2 px-3 mb-3" %>
  </div>

  <div>
    <%= f.label :password_confirmation, class: "user-form user-label pt-2" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "user-form-field py-2 px-3 mb-3"%>
  </div>

  <div>
    <%= f.submit "Sign up", class: "bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
  <p class="text-center text-gray-500 text-xs">
    &copy;2019 EclecticCoding. All rights reserved.
  </p>

<%#= render "devise/shared/links" %>
</div>