<main style="background-image: url(<%= 'https://image.tmdb.org/t/p/w1280/' + @movie.backdrop_path %>);"
      class="min-h-screen min-w-screen bg-fixed bg-cover bg-no-repeat">

  <div class="container mx-auto p-5">
    <div class="movie h-auto">
      <%= image_tag 'https://image.tmdb.org/t/p/w300/' + @movie.poster_path %>
      <div class="p-5">
        <h2 class="text-yellow-500 text-4xl font-medium mb-2"><%= @movie.title %></h2>
        <p class="text-xl mb-4"><%= @movie.tagline %></p>
        <div class="flex">
          <button class="bg-green-500 hover:bg-green-700 mb-5">
            <%= link_to "Edit Watchlist", edit_user_watch_list_path(movie_id: @movie, user_id: current_user[:id]), class: "bg-green-500 hover:bg-green-700 mb-5 py-3 rounded-lg font-bold cursor-pointer" %>
          </button>
          <%= button_to 'Delete', watch_list_path, method: :delete, class: "bg-green-500 hover:bg-green-700 mb-5 py-3 px-4 rounded-lg font-bold cursor-pointer" %>
        </div>
        <div class="movie__rating text-white"><%= @movie.average_vote %></div>
        <p class="text-xl font-light mb-5"><%= @movie.overview %></p>
      </div>
      <div class="movie__stat inline-flex justify-between items-center">
        <div>
          <p>
            <i class="far fa-clock text-2xl mr-3 pt-1"></i>
            Release Date: <%= (@movie.release_date).to_time.strftime(' %b %d %Y') %></p>
        </div>
        <div>
          <p><i class="fas fa-history text-2xl mr-3 pt-1"></i>Duration: <%= @movie.runtime %>m</p>
        </div>
        <div>

          <p><i class="far fa-money-bill-alt text-2xl mr-3 pt-1"></i>Budget:
            <% if @movie.budget != 0 %>
              <%= number_to_currency(@movie.budget, unit: '$', precision: 0) %>
            <% else %>
              N/A
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
