<!DOCTYPE html>
<html>
<head>
  <title>RailsMovieBrowser</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body class="min-h-screen bg-gray-400">
<%= render 'layouts/nav' %>

  <%= yield %>

</body>

</html>
