<!DOCTYPE html>
<html>
<head>
  <title>RailsMovieBrowser</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<!--Image by <a href="https://pixabay.com/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4430788">Gerd Altmann</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4430788">Pixabay</a>-->

<body class="min-h-screen bg-gray-400">
<%= render 'layouts/nav' %>

<% if !!flash[:notice] %>
  <div class="p-4 bg-green-500 text-white text-center">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong><%= notice %></strong>
  </div>
  <% elsif !!flash[:alert]%>
    <div class="p-4 bg-red-500 text-white text-center">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong><%= alert %></strong>
    </div>
  <% else %>
    <div></div>
  <% end %>

<%# flash.keys.each do |type| %>

  <!--    <p class="alert"><%#= alert %></p>-->

  <%= yield %>

  </body>

  </html>
